NODE_ENV=production
API_PORT=3000
MYSQL_DATABASE=scheduling
MYSQL_USER=scheduling_app
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
MYSQL_HOST=mysql
MYSQL_PORT=3306
REDIS_HOST=redis
REDIS_PORT=6379
WECHAT_MODE=production
WX_APPID=wx49e89470ae5fc197
WX_SECRET=
WX_TEMPLATE_JOIN_SUCCESS_ID=mrVvyweEKlTCsCP75XhrgyDu3OlWFwk9mtHOjIMRBqg
WX_TEMPLATE_MISSING_AVAILABILITY_ID=JQYOa6W-Fq1qZBSvJVD3vVRxfm2iQ2IaYQs-ex5DYic
TOKEN_SIGNING_SECRET=
PHONE_ENCRYPTION_KEY=
ADMIN_BOOTSTRAP_USERNAME=
ADMIN_BOOTSTRAP_PASSWORD=
